<header>

    <div id="logo-container">
        <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: "LOGO", id:"logo-header" %>
        <% end %>
    </div>

    <div id="link-container">
        <%= link_to "Fahrtenbuch", log_path %>
    </div>

    <div id="profile-container">
        <% if authenticated? %>
            <span id="willkommen">Willkommen, <%= Current.user.full_name %></span>
            <%= button_to "Abmelden", session_path, method: :delete, id: "abmelden" %>
        <% else %>
            <%= link_to "Anmelden", new_session_path, id: "anmelden" %>
        <% end %>
    </div>
</header>