<header>

    <div id="logo-container">
        <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: "LOGO", id:"logo-header" %>
        <% end %>
    </div>

    <div id="link-container">
        <div id="fahrtenbuch-wrapper">
                <%= link_to "Fahrtenbuch", log_path, id: "link-fahrtenbuch" %>
        </div>
    </div>

    <div id="profile-container">
        <% if authenticated? %>
            <div id="profile-wrapper">
                <span id="willkommen"><div id="grow-heading">Willkommen,</div> <p id="name"><%= Current.user.full_name %></p></span>
                <%= button_to "Abmelden", session_path, method: :delete, id: "abmelden" %>
            </div>
        <% else %>
            <%= link_to "Anmelden", new_session_path, id: "anmelden" %>
        <% end %>
    </div>
</header>