<header>

    <div id="logo-container">
        <%= image_tag 'logo.png', alt: "LOGO" %>
    </div>

    <div id="link-container">
        <h1 id="heading">FF Mollmannsreith > FFwolfern 💔</h1>
        <%= link_to "Fahrtenbuch", log_path %>
    </div>

    <div id="profile-container">
        <% if authenticated? %>
            <span>Willkommen, <%= Current.user.full_name %></span>
            <%= button_to "Abmelden", session_path, method: :delete %>
        <% else %>
            <%= link_to "Anmelden", new_session_path %>
        <% end %>
    </div>
</header>