<h1>Benutzerliste</h1>
<%= link_to "Neuer Benutzer", new_user_path %>

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Dienstgrad</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email_address %></td>
                <td><%= user.full_name %></td>
                <td><%= user.rank.germanize %></td>
                <td style="display: flex;">
                    <%= link_to "Ansehen", user %>
                    <%= link_to "Bearbeiten", edit_user_path(user) %>
                    <%= button_to "Löschen", user, method: :delete, data: { turbo_confirm: "#{user.rank.germanize} #{user.full_name} wirklich löschen?" } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>