<div id="newuser-container">
    <div id="newuser-wrapper">
        <h1>Neuer Benutzer</h1>

        <%= form_with model: @user, id: "form-newuser" do |form| %>
            <% if @user.errors.any? %>
                <ul>
                    <% @user.errors.full_messages.each do |error| %>
                        <li style="color: red;"><%= error %></li>
                    <% end  %>
                </ul>
            <% end %>

            <%= form.email_field :email_address, class: "input-newuser", placeholder: "E-Mail" %>
            <%= form.text_field :firstname, class: "input-newuser", placeholder: "Vorname" %>
            <%= form.text_field :lastname, class: "input-newuser", placeholder: "Nachname" %>
            <%= form.password_field :password, class: "input-newuser", placeholder: "Passwort" %>
            <%= form.password_field :password_confirmation, class: "input-newuser", placeholder: "Passwort wiederholen" %>
            <%= form.select :rank, User.ranks.keys.map { |rank| [ rank.germanize, rank ] }, {}, {id: "select-newuser"} %>
            <%= form.submit id: "submit-newuser" %>
        <% end %>
    </div>
</div>